@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

.book-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
  gap: 2vw;
}

.book-grid .book {
  background-color: #fff;
  border-radius: 0.25rem;
  color: #000;
  height: auto;
  width: calc(44vw);
  padding: 10px;
}

.form-wrapper {
  background-color: #000;
  width: 100%;
  height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.form-wrapper.display{
  position: absolute;
  height: 100vh;
  visibility: visible;
}

body,
body * {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Sen', sans-serif;
}

h2,h3 {
  margin-bottom: 10px;
}

p {
  color: rgb(68, 61, 61);
  margin-bottom: 8px;
}

button, form input[type='submit'] {
  border-style: none;
  border-radius: 2rem;
  background-color: #ffa834;
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}

button:hover, form input[type='submit']:hover {
  background-color: #e9901b;
}

/* form.display {
  position: absolute;
} */

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2vw;

  /* position: absolute; */
}

form .radio-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

form header {
  padding: 0;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form input[type='submit'], form .radio-wrapper input {
  width: initial;
}

